* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* visuel pour les ecrans de 320px ou plus et maximum avec 640px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .header {
        width: 100%;
        height: auto;
        padding: 15px;
        text-align: center;
    }

    .header .main-title {
        color: #3EBCB3;
        font-size: 1.5em;
        font-family: 'EB Garamond', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    .header .second-title {
        color: #BCFB89;
        font-size: 0.9em;
        font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    .header .paragraphe {
        color: #CCCACC;
    }

    .main-content {
        width: 100%;
        height: auto;
        text-align: center;
        color: #fff;
        background-color: #2bb2ae;
        margin-top: 15px;
    }

    .main-content .main-title-h2 {
        font-family: "EB Garamond", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5em;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .main-content .main-price {
        font-size: 1.4em;
    }

    .main-content .main-info {
        margin: 15px 0;
        font-weight: 400;
    }

    .main-content .main-button {
        width: 100%;
        height: 40px;
        background-color: #bfdf34;
        border: none;
        color: #fff;
        font-size: 1em;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .footer {
        width: 100%;
        height: auto;
        background-color: #66c6c4;
        text-align: center;
        padding: 30px 50px;
        color: #fff;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .header {
        width: 100%;
        height: auto;
        padding: 30px 50px;
    }
    .header .main-title {
        font-size: 2.5em;
        color: #3EBCB3;
        font-family: 'EB Garamond', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 2em;
    }

    .header .second-title {
        font-size: 1.8em;
        color: #BCFB89;
        font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
        margin-bottom: 20px;
    }

    .header .paragraphe {
        color: #CCCACC;
        font-size: 1.2em;
    }

    .container {
        display: flex;
    }

    .main-content {
        width: 100%;
        height: auto;
        color: #fff;
        background-color: #2bb2ae;
        margin-top: 15px;
        padding: 20px;
    }

    .main-content .main-title-h2 {
        font-family: "EB Garamond", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .main-content .main-price {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .main-content .main-info {
        font-size: 1.2em;
        margin: 15px 0;
        font-weight: 400;
    }

    .main-content .main-button {
        width: 100%;
        height: 40px;
        background-color: #bfdf34;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .footer {
        width: 100%;
        height: auto;
        margin-top: 15px;
        background-color: #66c6c4;
        padding: 30px 50px;
        color: #fff;
    }

    .footer .footer-title {
        font-family: "EB Garamond", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.8em;
        margin-bottom: 20px;
    }

}
