* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'EB Garamond','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    color: #2A2A2A;
}

body {
    background-color: #F0F0F0;
    font-family: 'Open Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    height: auto;
    color: #2A2A2A;
}

.header h1 {
    font-size: 2.8em;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.header img {
    width: 100%;
    max-width: 100%;
    height: 600px;
    margin-top: 20px;
    padding: 0 10px;
    object-fit: cover;
    border-radius: 30px;
}

section {
    margin: 15px 20px;
    padding: 15px;
    border-radius: 8px;
}

.preparation {
    background-color: #E0CDB2;
}

.ingredients {
    background-color: #C8906D;
}

.coocking-instructions {
    background-color: #B87981;

}

.nutrition {
    background-color: #FCE5CC;
}

.preparation li, .ingredients li, .coocking-instructions li {
    font-family: 'Open Sans';
    font-weight: 600;
    list-style: decimal;
    margin-left: 35px;
    padding-left: 10px;
}

.nutrition span {
    font-weight: 600;
    display: inline-block;
    padding: 20px;
}
